In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Casper,US,2020-06-22 02:33:32,42.87,-106.31,64.40,52,90,33.33
1,1,Khatanga,RU,2020-06-22 02:33:32,71.97,102.50,67.08,49,88,7.05
2,2,Kavieng,PG,2020-06-22 02:33:33,-2.57,150.80,85.86,66,11,5.23
3,3,Punta Arenas,CL,2020-06-22 02:33:33,-53.15,-70.92,32.00,83,96,5.82
4,4,Ushuaia,AR,2020-06-22 02:30:10,-54.80,-68.30,35.60,80,45,3.36

In [3]:
# Gate the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=6)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kavieng,PG,2020-06-22 02:33:33,-2.57,150.80,85.86,66,11,5.23
6,6,Bambanglipuro,ID,2020-06-22 02:33:34,-7.95,110.28,83.44,74,76,14.25
7,7,Avarua,CK,2020-06-22 02:33:34,-21.21,-159.78,75.20,64,90,17.22
8,8,Vaini,TO,2020-06-22 02:33:35,-21.20,-175.20,80.60,88,40,8.05
9,9,Nhulunbuy,AU,2020-06-22 02:33:35,-12.23,136.77,80.08,68,34,16.13
17,17,Isangel,VU,2020-06-22 02:33:37,-19.55,169.27,75.36,73,25,11.81
21,21,Faanui,PF,2020-06-22 02:33:38,-16.48,-151.75,77.41,82,61,23.96
28,28,Albany,US,2020-06-22 02:33:40,42.60,-73.97,81.00,87,44,2.62
34,34,Pyapon,MM,2020-06-22 02:33:42,16.28,95.68,87.85,66,12,6.35
40,40,Mayo,US,2020-06-22 02:33:44,38.89,-76.51,75.99,73,1,8.05

In [13]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
2         Kavieng      PG     85.86  -2.57  150.80
6   Bambanglipuro      ID     83.44  -7.95  110.28
7          Avarua      CK     75.20 -21.21 -159.78
8           Vaini      TO     80.60 -21.20 -175.20
9       Nhulunbuy      AU     80.08 -12.23  136.77
17        Isangel      VU     75.36 -19.55  169.27
21         Faanui      PF     77.41 -16.48 -151.75
28         Albany      US     81.00  42.60  -73.97
34         Pyapon      MM     87.85  16.28   95.68
40           Mayo      US     75.99  38.89  -76.51

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kavieng,PG,85.86,-2.57,150.80,Nusa Island Retreat
6,Bambanglipuro,ID,83.44,-7.95,110.28,Puri Brata
7,Avarua,CK,75.20,-21.21,-159.78,Paradise Inn
8,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
9,Nhulunbuy,AU,80.08,-12.23,136.77,East Arnhem Real Estate
...,...,...,...,...,...,...
558,Pandharpur,IN,79.70,17.67,75.33,Hotel Vitthal Inn Pandharpur
559,Harper,LR,76.14,4.38,-7.72,Screensaver
562,Lanxi,CN,82.06,29.22,119.48,Shangri-La Hotel
564,Jiaojiang,CN,86.00,28.68,121.44,Fangyuan Hotel
566,Mackay,AU,78.01,-21.15,149.20,International Lodge Motel

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
#  Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))